<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="checkdeadlocks" value="false"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="runonstartup" value="true"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="restartonshutdown" value="false"/>
    <add xdt:Transform="Replace" xdt:Locator="Match(key)" key="location" value="staging"/>
  </appSettings>

  <connectionStrings>
    <add xdt:Transform="Replace" xdt:Locator="Match(name)" name="BotFair.DataLayer.Properties.Settings.botfairConnectionString" connectionString="Data Source=localhost\;Initial Catalog=botfair;Persist Security Info=True;User ID=sa;Password=gegengift_75" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>
</configuration>
