<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>

    <add name="BotFair.DataLayer.Properties.Settings.botfairConnectionString"
        connectionString="Data Source=localhost\;Initial Catalog=botfair;Persist Security Info=True;User ID=sa;Password=gegengift_75"
        providerName="System.Data.SqlClient" />



  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>

      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="MyServiceBehaviors" >

          <callbackDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <bindings>
      <basicHttpBinding>

        <binding name="BFGlobalService" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="100000" maxBufferPoolSize="524288" maxReceivedMessageSize="100000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true"  >
          <readerQuotas maxDepth="32" maxStringContentLength="100000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>

        </binding>

        <binding name="BFExchangeService" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="100000" maxBufferPoolSize="524288" maxReceivedMessageSize="100000"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="100000" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.betfair.com/global/v3/BFGlobalService"
          binding="basicHttpBinding" bindingConfiguration="BFGlobalService"
          contract="BotFairGlobal.BFGlobalService" name="BFGlobalService" />
      <endpoint address="https://api.betfair.com/exchange/v5/BFExchangeService"
          binding="basicHttpBinding" bindingConfiguration="BFExchangeService"
          contract="BetFairExchange.BFExchangeService" name="BFExchangeService" behaviorConfiguration="MyServiceBehaviors"  />
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="location" value="staging"/>
    <add  key="runonstart" value="0"/>
    <add key="activeConfiguration" value="0"/>
    <add key="betfairuser" value="Abrakadabra"/>
    <add key="betfairpassword" value="rolling123"/>
    <add key="trackselection" value=""/>
    <add key="configId" value="1"/>
    <add key="runonstartup" value="true"/>
    <add key="checkdeadlocks" value="false"/>
    <add key="restartonshutdown" value="true"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4" >
      <listeners>
        <add name="botlistener" type="BotFair.Sys.BotTraceListener,BotFair" />
        <!--<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="messages.log" traceOutputOptions="DateTime" />-->
        <remove name="Default" />
      </listeners>
    </trace>


  </system.diagnostics>

  <system.runtime.remoting>
    <application name="botserver">

      <service>

        <wellknown
              type="BotFair.Server.BotServerImpl, BotFair"
              objectUri="o"
              mode="SingleCall"
            />
        <!--<activated type="BotFair.BotServer, BotFairCommon"/>-->
      </service>
      <channels>
        <!--<channel ref="tcp" port="6791" />
        <channel ref="http" port="6792" />-->
        <channel ref="ipc" portName="BF" authorizedGroup="Everyone" />
      </channels>stop
    </application>
  </system.runtime.remoting>

  <system.net>
    <mailSettings>
      <smtp from="bot@botfair.com" deliveryMethod="Network">
        <network host="smtp.gmail.com" port="25"
            userName="chrisiDC@gmail.com" password="gegengift75"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>