<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ipc_port" value="BF"/>
    <add key="process" value="c:\programming\BotFair2\Bot\bin\Debug\"/>
    <add key="betfairuser" value="chrisiDC75"/>
    <add key="betfairpassword" value="gegengift75"/>
  </appSettings>
</configuration>